.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  height: 600px;
  max-height: 600px;
  margin-top: 20%;

  .contact__title {
    margin: 0 auto;
    width: 30%;
    height: 12%;
    margin-left: 50%;
    font-family: poppins, sans-serif;
    font-weight: 600;
    color: $color-lyrics;
    font-size: 350%;
  }


  .contact__container-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;



    .contact__forms {
      align-self: flex-end;
      width: 50%;
      height: 90%;
      display: flex;


      .contact__forms-container {
        width: 100%;
        height: 100%;


        .contact__forms-name,
        .contact__forms-email {
          width: 98.5%;
          height: 10%;
          border-radius: 30px;
          margin-bottom: 4%;
        }

        .contact__forms-message {
          width: 95%;
          height: 40%;
          border-radius: 30px;
          padding-left: 4%;
          font-size: large;
        }

        .contact__forms-button {
          width: 100%;
          height: 15%;
          border-radius: 30px;
          margin-top: 5%;
        }

        .contact__forms-button:hover {
          box-shadow: 0 4px 6px white;
        }
      }
    }

    .contact__enterprise {
      align-self: center;
      width: 35%;
      height: 60%;

      .contact__enterprise-phone {
        width: 60%;

        .enterprise__edit-title {
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          color: $color-lyrics;
        }

        .enterprise__edit-phone {
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: $color-lyrics;
        }
      }

      .contact__enterprise-email {
        width: 60%;

        .enterprise__edit-title {
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          color: $color-lyrics;
        }

        .enterprise__edit-describe {
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: $color-lyrics;
        }
      }

      .contact__enterprise-address {
        width: 80%;

        .enterprise__edit-title {
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 400;
          color: $color-lyrics;
        }

        .enterprise__edit-address {
          margin-top: -5%;
          font-family: poppins, sans-serif;
          font-style: normal;
          font-weight: 500;
          color: $color-lyrics;
        }
      }
    }
  }
}
